@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    /* Add primary colours below */ 
}

html, body {
    margin: 0;
    padding: 0;
}

.nav ul {
    margin: 0;
    display: flex;
}

.nav li {
    display: inline;
    
}

a {
  text-decoration: none;
  color: white;
}

.nav a {
    display: inline-block;
    padding: .5em;
    text-decoration: none;
}

.navMobile {
  display: none;
  background-color: #1E1E23;

}

footer div a {
  display: inline-block;
  padding: .5em;
  text-decoration: none;
  color: white;
}

.main-header {
  display: flex;
  justify-content: space-between;
  top: 0;
  right: 0;
  padding: 0 200px;
  width: 100%;
  background:#12110e;

}

.cancun-title {
  color: white;
}

.main-nav {
    text-align: right;
    font-size: 1.1em;
    font-weight: lighter;
    background:#12110e;
    display: flex;
    align-items: center;
    
}

.main-nav li {
    padding: 0 5%;
    
}
.main-nav a {
  color: white;
}

.cancun-title:hover {
  color: rgb(155, 4, 4);
}
.nav a:hover {
    color: rgb(155, 4, 4);
}
/* Footer Stuff */ 
.main-footer {
  background-color: #12110e;
  color: white;
  padding: 50px;
  margin-top: 100px;
  height: 300px;
}

.main-footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: auto;
  padding: 0 1.5em;
}

.main-footer-container ul {

}

.container {
  max-width: 900px;
  margin: 0 auto;
  justify-content: center;
  padding: 0 1.5em;
}

.www-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.www-card {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  width: 300px;
  height: 300px;
  border-radius: 3%;
  margin: 40px 40px;
  box-shadow:
  0 5.3px 3.6px rgba(0, 0, 0, 0.059),
  0 14.7px 9.9px rgba(0, 0, 0, 0.085),
  0 35.3px 23.8px rgba(0, 0, 0, 0.111),
  0 117px 79px rgba(0, 0, 0, 0.17)
;
  
}

div i {
  font-size: 3em;
}


.www-card p {
  font-size: 1.2em;
}

.testimonial-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  margin: 100px 0;
  background-color: #12110e;
  color: white;
}

.adventure-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}
.adventures {
  display: flex;
  margin: 30px;
  align-items: center;
  flex-direction: column;
  max-width: 500px;
  max-height: 100%;
}

.adventure-img {
  border-radius: 3%;
  max-width: 100%;
}


.footer-nav li {
  padding: 0 .5em;
  font-size: 2em;
  
}

.footer-nav i {
  color: white;
}

.sell-off-vacations {
  width: 90%;
  height: auto;
  max-width: 400px;
}

/* This wrapper div, for anchors, allows the anchor tag to properly account for fixed header */
.wrapperdiv {
  position: relative;
  top: -15px;
}

.vector-image1 {
  max-width: 600px;
  height: auto;
  object-fit: cover;
}

.vector-image2 {
  max-width: 600px;
  height: auto;
  object-fit: cover;
}
.activities-text {
  max-width: 500px;
}

.activities1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.activities2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

a img:hover {
  opacity: 70%;
}



/* ****************************************************** */
/* Slideshow container */
.slideshow-dots-container {
  max-width: 100%;
  max-height: 100vh;
  z-index: -1;
}

.slideshow-container img {
  max-height: 80vh;
}

.slideshow-container {
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev {
    left: 0;
  }
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 50px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  /* ****************************************************** */

  .tequila {
    width: 90%;
    height: auto;
    border-radius: 3%;
  }

  @media only screen and (max-width: 800px) {
    .main-header {
      text-align: center;
      flex-direction: column;
      align-items: center;
      display: none;
    }
    .main-nav {
      padding: 0;
      

    }
    .nav ul {
      margin: 0;
      padding: 0;
      text-align: center;
      display: flex;
      flex-direction: column;
    }
    .cancun-title {
      padding: 0;
    }
    
    .nav li {
        display: inline;
        
    }
    .text {
      font-size: 1.3em;
    }
    
    /* ALL STUFF FOR MOBILE MENU */ 
    .navMobile {
      display: block;

    }
    #menuToggle {
      display: flex;
      flex-direction: column;
      position: relative;
      top: 25px;
      left: 25px;
      z-index: 1;
      -webkit-user-select: none;
      user-select: none;
    }
    ul {
      padding: 0;
      list-style-type: none;
    }
    
    
    
    .container {
      margin-top: 50px; 
      Display: flex;
      justify-content: center;
      align-items: center;
    }
    .phone {
      background-color: #36383F;
      border-radius: 40px;
      width: 300px;
      height: 600px;
      Display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 30px 50px 100px #85888C;
    }
    .content {
      border: 1px solid #36383F;
      border-radius: 20px;
      width: 94%;
      height: 91%;
      background-color: #F5F6FA;
      overflow: hidden;
    }
    nav {
      background-color: #1E1E23;
      height: 65px;
    }
    #menuToggle input
    {
      display: flex;
      width: 40px;
      height: 32px;
      position: absolute;
      cursor: pointer;
      opacity: 0;
      z-index: 2;
    }
    
    #menuToggle span
    {
      display: flex;
      width: 29px;
      height: 2px;
      margin-bottom: 5px;
      position: relative;
      background: #ffffff;
      border-radius: 3px;
      z-index: 1;
      transform-origin: 5px 0px;
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  opacity 0.55s ease;
    }
    
    #menuToggle span:first-child
    {
      transform-origin: 0% 0%;
    }
    
    #menuToggle span:nth-last-child(2)
    {
      transform-origin: 0% 100%;
    }
    
    #menuToggle input:checked ~ span
    {
      opacity: 1;
      transform: rotate(45deg) translate(-3px, -1px);
      background: #36383F;
    }
    #menuToggle input:checked ~ span:nth-last-child(3)
    {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }
    
    #menuToggle input:checked ~ span:nth-last-child(2)
    {
      transform: rotate(-45deg) translate(0, -1px);
    }
    
    #menu
    {
      position: absolute;
      width: 180px;
      height: 400px;
      box-shadow: 0 0 10px #85888C;
      margin: -50px 0 0 -50px;
      padding: 50px;
      padding-top: 125px;
      background-color:#1E1E23;
      -webkit-font-smoothing: antialiased;
      transform-origin: 0% 0%;
      transform: translate(-100%, 0);
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
    
    #menu li
    {
      padding: 10px 0;
      transition-delay: 2s;
    }
    
    #menuToggle input:checked ~ ul
    {
      transform: none;
    }
    .cancun-title {
      color: white;
      text-align: center;
      
    }
  }

  @media only screen and (max-width: 600px) {

  }



  