@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    /* Add primary colours below */ 
}

html, body {
    margin: 0;
    padding: 0;
}

.nav ul {
    margin: 0;
    display: flex;
}

.nav li {
    display: inline;
    
}

a {
  text-decoration: none;
}

.nav a {
    display: inline-block;
    padding: .5em;
    text-decoration: none;
}

.main-header {
  display: flex;
  justify-content: space-between;
  top: 0;
  right: 0;
  padding: 0 200px;
  width: 100%;
  background:#12110e;

}

.cancun-title {
  color: white;
}

.main-nav {
    text-align: right;
    font-size: 1.1em;
    font-weight: lighter;
    background:#12110e;
    display: flex;
    align-items: center;
    
}

.main-nav li {
    padding: 0 5%;
    
}
.main-nav a {
  color: white;
}

.cancun-title:hover {
  color: rgb(155, 4, 4);
}
.nav a:hover {
    color: rgb(155, 4, 4);
}
/* Footer Stuff */ 
.main-footer {
  background-color: #12110e;
  color: white;
  padding: 20px;
  height: 300px;
}

.main-footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 900px;
  margin: 0 auto;
  justify-content: center;
  padding: 0 1.5em;
}

.main-footer-container ul {
  flex-grow: 1;
  text-align: end;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  justify-content: center;
  padding: 0 1.5em;
}

.www-container {
  display: flex;
  justify-content: center;
}

.www-card {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  width: 300px;
  height: 300px;
  border-radius: 3%;
  margin: 40px 40px;
  box-shadow:
  0 5.3px 3.6px rgba(0, 0, 0, 0.059),
  0 14.7px 9.9px rgba(0, 0, 0, 0.085),
  0 35.3px 23.8px rgba(0, 0, 0, 0.111),
  0 117px 79px rgba(0, 0, 0, 0.17)
;
  
}

div i {
  font-size: 3em;
}


.www-card p {
  font-size: 1.2em;
}

.testimonial-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  margin: 0;
  background-color: #12110e;
  color: white;

}

.testimonial {

}

.adventure-container {
  display: flex;
  justify-content: center;
}
.adventures {
  display: flex;
  margin: 30px;
  flex-direction: column;
  max-width: 500px;
}

.footer-nav li {
  padding: 0 .5em;
  font-size: 2em;
  
}

.footer-nav i {
  color: white;
}

/* This wrapper div, for anchors, allows the anchor tag to properly account for fixed header */
.wrapperdiv {
  position: relative;
  top: -15px;
}

.vector-image1 {
  max-width: 600px;
}

.vector-image2 {
  max-width: 600px;
}
.activities-text {
  max-width: 600px;
}

.activities {
  display: flex;
  align-items: center;
  justify-content: center;
}

.adventure-img {
  border-radius: 3%;
}

/* ****************************************************** */
/* Slideshow container */
.slideshow-dots-container {
  max-width: 100%;
  max-height: 100vh;
  z-index: -1;
}

.slideshow-container img {
  max-height: 80vh;
}

.slideshow-container {
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev {
    left: 0;
  }
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 50px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  /* ****************************************************** */

  /* Styling for Card Section */